<div class="row">
    <div class="page-header">
        <h1></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Product Code</h3>
                </div>
                <div class="panel-body" data-bind="text: DisplayEnteredProductCode"></div>
            </div>
        </div>
        <table class="table">
            <tbody id="KeyPad">
                <tr>
                    <td><button data-id="1" class="btn btn-default" data-bind="click: KeyPadPress">1</button></td>
                    <td><button data-id="2" class="btn btn-default" data-bind="click: KeyPadPress">2</button></td>
                    <td><button data-id="3" class="btn btn-default" data-bind="click: KeyPadPress">3</button></td>
                </tr>
                <tr>
                    <td><button data-id="4" class="btn btn-default" data-bind="click: KeyPadPress">4</button></td>
                    <td><button data-id="5" class="btn btn-default" data-bind="click: KeyPadPress">5</button></td>
                    <td><button data-id="6" class="btn btn-default" data-bind="click: KeyPadPress">6</button></td>
                </tr>
                <tr>
                    <td><button data-id="7" class="btn btn-default" data-bind="click: KeyPadPress">7</button></td>
                    <td><button data-id="8" class="btn btn-default" data-bind="click: KeyPadPress">8</button></td>
                    <td><button data-id="9" class="btn btn-default" data-bind="click: KeyPadPress"> 9</button></td>
                </tr>
                <tr>
                    <td><button data-id="Cancel" class="btn btn-warning glyphicon glyphicon-remove" data-bind="click: KeyPadPress"></button></td>
                    <td><button data-id="0" class="btn btn-default" data-bind="click: KeyPadPress">0</button></td>
                    <td><button data-id="Ok" class="btn btn-success glyphicon glyphicon-ok" data-bind="click: KeyPadPress"></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table id="productTable" class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Products">
                <tr data-bind="css:{ active: $root.IsProductSelected($root.SelectedProduct(),Id)}">
                    <td data-bind="text: Id"></td>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Price"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-3">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">To Pay</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <span class="col-md-10" data-bind="text: PriceToPay"></span>
                        <button data-id="Clear" class="btn btn-sm btn-danger glyphicon glyphicon-remove" data-bind="click: KeyPadPress, visible: SelectedProduct()"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Amount Entered</h3>
                </div>
                <div class="panel-body" data-bind="text: PaidDisplay"></div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Payment</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <!-- TODO fix hardcoded enum values-->
                        <button data-value="Fiver" class="btn btn-default" data-bind="click: CashInserted">$5</button>
                        <button data-value="Single" class="btn btn-default" data-bind="click: CashInserted">$1</button>
                        <button data-value="Quarter" class="btn btn-default" data-bind="click: CashInserted">25¢</button>
                        <button data-value="Nickel" class="btn btn-default" data-bind="click: CashInserted">10¢</button>
                        <button data-value="Dime" class="btn btn-default" data-bind="click: CashInserted">5¢</button>
                    </div>
                    <br />
                    <div >
                        <div class="input-group">
                            <span class="input-group-addon" id="credit-card-addon">Credit Card</span>
                            <input type="text" class="form-control" placeholder="Enter Card Number" aria-describedby="credit-card-addon" data-bind="textInput: CreditCardNo">
                        </div>
                    </div>
                    <br />
                    <div>
                        <button class="btn btn-danger" data-bind="click: Cancel">Cancel</button>
                        <button class="btn btn-primary" data-bind="click: Pay">Pay</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div style="display:none" class="alert alert-danger" role="alert" data-bind="visible:  HasError, text: ErrorMessage"></div>
    <div style="display:none" class="alert alert-success" role="alert" data-bind="visible:  HasPurchased, text: PurchaseMessage"></div>
</div>

@section scripts{
    <script src="~/Scripts/CustomScripts/Vendomat.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Send an AJAX request
            appFolder = "@Url.Content("~/")";

            ko.applyBindings(new productViewModel({
                getProductsUrl: appFolder + 'api/products',
                getProductUrl: appFolder + 'api/products',
                payProductUrl: appFolder + 'api/purchase',
                tenderCashUrl: appFolder + 'api/customercash'
            }));
        });
    </script>
}
